header{
    width: 100%;
    background-image: url("../images/vitrine.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(bs-dark);
    height: calc(223px + 8vw);
    display: flex;
    align-items: center;
}

header .logo{
    height: calc(64px + 4vw + 2vh);
    width: auto;
}

@media (max-width: 768px) {
    header{
        background-position: 45%;
    }
}